<plugin name='extjs-scaffolding' version='1.0' grailsVersion='2.4 &gt; *'>
  <author>Maigo Erit</author>
  <authorEmail>maigo.erit@gmail.com</authorEmail>
  <title>Extjs Scaffolding Plugin</title>
  <description>Generates ExtJS application and adds rest.Resource annotation to domain objects
</description>
  <documentation>http://grails.org/plugin/extjs-scaffolding</documentation>
  <type>ExtjsScaffoldingGrailsPlugin</type>
  <resources>
    <resource>extjsScaffoldingPlugin.CustomRestfulController</resource>
  </resources>
</plugin>