<!DOCTYPE HTML>
<html>
<head>
    <meta charset="UTF-8">

    <title>${appName}</title>

    <link rel="stylesheet" type="text/css" href="http://dev.sencha.com/extjs/5.0.0/packages/ext-theme-crisp/build/resources/ext-theme-crisp-all-debug.css">
    <script type="text/javascript" src="http://dev.sencha.com/extjs/5.0.0/ext-all.js"></script>
	<script type="text/javascript" src="http://dev.sencha.com/extjs/5.0.0/packages/ext-theme-crisp/build/ext-theme-crisp.js" defer=""></script>
	<script type="text/javascript" src="app.js"></script>
</head>
<body></body>
</html>
